<ion-header>
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Darstellung -->
  <ion-list>
    <ion-list-header>
      <ion-label>Darstellung</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="color-palette-outline" color="primary" />
      <ion-label>Währung</ion-label>
      <ion-select [(ngModel)]="currency" interface="action-sheet" slot="end">
        @for (c of currencies; track c.value) {
          <ion-select-option [value]="c.value">{{ c.label }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="language-outline" color="primary" />
      <ion-label>Sprache</ion-label>
      <ion-note slot="end">Deutsch</ion-note>
    </ion-item>
  </ion-list>

  <!-- Daten -->
  <ion-list>
    <ion-list-header>
      <ion-label>Daten</ion-label>
    </ion-list-header>

    <ion-item button (click)="confirmReset()" detail="false">
      <ion-icon slot="start" name="trash-outline" color="danger" />
      <ion-label color="danger">Alle Buchungen löschen</ion-label>
    </ion-item>
  </ion-list>

  <!-- App-Info -->
  <ion-list>
    <ion-list-header>
      <ion-label>App</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" name="information-circle-outline" color="medium" />
      <ion-label>Version</ion-label>
      <ion-note slot="end">{{ appVersion }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
